.checkbox input[type="checkbox"] {
  position: relative;
}
.checkbox input[type="checkbox"]::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid lightslategray;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s all ease;
}
.checkbox input:checked::before {
  background-color: #ff5a43;
  border: 1px solid #ff5a43;
}
.checkbox input:checked::after {
  position: absolute;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 11px;
  color: #fff;
  top: -7px;
  left: 1px;
}

@media only screen and (max-width: 768px) {
  .checkbox input[type="checkbox"]::before {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s all ease;
  }

  .checkbox input:checked::after {
    position: absolute;
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 11px;
    color: #fff;
    top: -6px;
    left: 3px;
  }
}

.checkbox-sm input[type="checkbox"] {
  position: relative;
}
.checkbox-sm input[type="checkbox"]::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid lightslategray;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s all ease;
}
.checkbox-sm input:checked::before {
  background-color: #ff5a43;
  border: 1px solid #ff5a43;
}

.checkbox-sm input:checked::after {
  position: absolute;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 11px;
  color: #fff;
  top: -3px;
  left: 1px;
}
@media only screen and (max-width: 768px) {
  .checkbox-sm input[type="checkbox"]::before {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s all ease;
  }

  .checkbox-sm input:checked::after {
    position: absolute;
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 11px;
    color: #fff;
    top: -2px;
    left: 2.5px;
  }
}
