/* .checkbox input {
  position: relative;
}
.checkbox input::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background-color: #091921;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s all ease;
}
.checkbox input:checked::before {
  background-color: #ff5a43;
  border: 1px solid #ff5a43;
}
.checkbox input:checked::after {
  position: absolute;
  content: "\f00c";
  font-family: "FontAwesome";
  color: #fff;
} */
